---
extends: default

rules:
  line-length:
    max: 150
    level: warning
  comments:
    min-spaces-from-content: 1

ignore: |
  .venv/
  .terraform/
  terraform/environments/*/infrastructure/*/cloud-init*.yml
  terraform/environments/*/workloads/*/cloud-init*.yml
