######################## HOST VARIABLES #####################
pve_hostname: "pve01"
pve_domain: "flopo.retropetro.net"
pve_ip: 192.168.2.21
ansible_host: 192.168.2.21
pve_gateway: "192.168.2.1"

#################### Cluster Configuration ####################
# Proxmox Cluster Configuration
pve_cluster_enabled: true
pve_group: pve
pve_cluster_clustername: pve
pve_cluster_setup: create # This is the FIRST node - creates cluster

#################### PHASE 1 Variables ##############################
###############   Network Setup - Create vmbr0   ####################
#####################################################################
interfaces_template: "{{ playbook_dir }}/tasks/templates/proxmox_node_network_interface.j2"
network_interface: enp2s0f0

#################### PHASE 2 Variables ##############################
###############   ZFS Disks and Pool Info    ########################
#####################################################################
# zfs_detect
zfs_detect_debug: true
zfs_detect_pools:
  - zfs01

#  Create ZFS Pool Role
create_zfs_pool_pools:
  - name: zfs01
    pool_properties:
      ashift: 12
    filesystem_properties:
      compression: lz4
    disks:
      - /dev/disk/by-id/nvme-SPCC_M.2_PCIe_SSD_0055074C188500046602
      - /dev/disk/by-id/nvme-SPCC_M.2_PCIe_SSD_A39A074C181000024869
      - /dev/disk/by-id/nvme-TEAM_TM8FP6001T_TPBF2412270020501869
      - /dev/disk/by-id/nvme-TEAM_TM8FP6001T_TPBF2412270020502003

#################### lae.proxmox ##############################
###############   Install Variables    ########################
###############################################################
pve_version: "9"
pve_enable_repo_pve_no_subscription: true
pve_reboot_on_kernel_update: true

pve_datacenter_cfg:
  keyboard: en-us
  console: xterm

# Hardware Passrough Settings
pve_pcie_passthrough_enabled: true
pve_iommu_passthrough_mode: true
pve_iommu_unsafe_interrupts: false
pve_mediated_devices_enabled: false
pve_pcie_ovmf_enabled: false
pve_pcie_ignore_msrs: false
pve_pcie_report_msrs: true

pve_pci_device_ids:
  - id: "1000:0087" # LSI SAS2308 (Fusion-MPT SAS-2)

pve_vfio_blacklist_drivers:
  - name: "mpt3sas" # driver for SAS2 HBAs; prevents host from claiming it

#############################################################
#################### Storage Configuration ##################
#############################################################

pve_zfs_create_volumes:
  - zfs01/iso
  - zfs01/template
  - zfs01/backup
  - zfs01/snippets

pve_storages:
  - name: zfs01
    type: zfspool
    content: ["images", "rootdir"]
    pool: zfs01
    sparse: true
  - name: iso
    type: dir
    path: /zfs01/iso
    content: ["iso"]
  - name: templates
    type: dir
    path: /zfs01/templates
    content: ["vztmpl"]
  - name: backup
    type: dir
    path: /zfs01/backup
    content: ["backup"]
  - name: snippets
    type: dir
    path: /zfs01/snippets
    content: ["snippets"]

###########################################################
############# User, Role and ACL Management ###############
###########################################################
pve_users:
  - name: root@pam
    email: "petroplex56@gmail.com"

  - name: terraform-user@pve
    password: "{{ terraform_api_password | default('changeMe123!') }}"
    #email: "admin@flopo.retropetro.net"
    firstname: Terraform
    lastname: API User
    groups: ["terraform"]
    enable: true
    expire: 0
    comment: API user for Terraform automation

# System users (not PVE users - these are Linux system users)
pve_system_users:
  - name: terraform
    groups: sudo
    append: true
    shell: /bin/bash
    authorized_keys:
      - "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"

pve_roles:
  - name: homelab
    privileges:
      - Datastore.Allocate
      - Datastore.AllocateSpace
      - Datastore.AllocateTemplate
      - Datastore.Audit
      - Mapping.Modify
      - Mapping.Use
      - SDN.Allocate
      - SDN.Use
      - Sys.Audit
      - Sys.Modify
      - Sys.Console
      - VM.Allocate
      - VM.Audit
      - VM.Clone
      - VM.Config.CDROM
      - VM.Config.CPU
      - VM.Config.Disk
      - VM.Config.HWType
      - VM.Config.Memory
      - VM.Config.Network
      - VM.Config.Options
      - VM.Config.Cloudinit
      - VM.Console
      - VM.GuestAgent.Audit
      - VM.GuestAgent.Unrestricted
      - VM.PowerMgmt
      - VM.Snapshot

pve_groups:
  - name: terraform
    comment: "Group for Terraform automation"

pve_acls:
  - path: /
    roles: ["homelab"]
    groups: ["terraform"]
    propagate: true

#################### PHASE 4 Variables ##############################
###############   API Users   ####################
#####################################################################
# List of API tokens to create
proxmox_api_user: "{{ vault_proxmox_root_user }}"
proxmox_api_password: "{{ vault_proxmox_root_password }}"

# List of API tokens to create
proxmox_api_tokens:
  - user: terraform-user
    realm: pve
    token_name: terraform
    comment: "API token for Terraform automation"
    privsep: 0 # 0 for full user permissions
  - user: terraform-user
    realm: pve
    token_name: packer
    comment: "API token for Packer automation"
    privsep: 0

# After API tokens are created, they are saved to encrypted vault file:
# inventories/dev/group_vars/all/api_tokens_dev-pve01.yml
# Reference them in your playbooks as: proxmox_api_tokens_generated.terraform or .packer

# geerlingguy.ntp
ntp_manage_config: true
ntp_servers:
  - clock.sjc.he.net,
  - clock.fmt.he.net,
  - clock.nyc.he.net
