<?xml version="1.0"?>
<opnsense>
    <version>25.1</version>
    <lastchange/>
    <theme>opnsense</theme>
    <sysctl>
        <item>
            <descr>Disable the pf states limit</descr>
            <tunable>net.pf.states_hashsize</tunable>
            <value>1000000</value>
        </item>
    </sysctl>
    <system>
        <hostname>opnsense</hostname>
        <domain>localdomain</domain>
        <dnsserver>1.1.1.1</dnsserver>
        <timezone>Etc/UTC</timezone>
        <timeservers>0.opnsense.pool.ntp.org</timeservers>
        <webgui>
            <protocol>https</protocol>
            <ssl-certref>4f0759ccf19b2</ssl-certref>
        </webgui>
        <disablenatreflection>yes</disablenatreflection>
        <disablechecksumoffloading>1</disablechecksumoffloading>
        <disablesegmentationoffloading>1</disablesegmentationoffloading>
        <disablelargereceiveoffloading>1</disablelargereceiveoffloading>
        <ipv6allow/>
        <ssh>
            <enabled>enabled</enabled>
            <passwordauth>1</passwordauth>
            <permitrootlogin>1</permitrootlogin>
        </ssh>
    </system>
    <interfaces>
        <wan>
            <if>em0</if>
            <enable>1</enable>
            <ipaddr>dhcp</ipaddr>
            <blockbogons>1</blockbogons>
            <dhcp6-ia-pd-len>0</dhcp6-ia-pd-len>
        </wan>
        <lan>
            <if>em1</if>
            <enable>1</enable>
            <ipaddr>192.168.99.1</ipaddr>
            <subnet>16</subnet>
        </lan>
    </interfaces>
    <dhcpd>
        <lan>
            <enable>1</enable>
            <range>
                <from>192.168.99.100</from>
                <to>192.168.99.199</to>
            </range>
        </lan>
    </dhcpd>
    <filter>
        <rule>
            <type>pass</type>
            <interface>wan</interface>
            <ipprotocol>inet</ipprotocol>
            <statetype>keep state</statetype>
            <descr>Allow incoming WebGUI access</descr>
            <protocol>tcp</protocol>
            <source>
                <any>1</any>
            </source>
            <destination>
                <any>1</any>
                <port>443</port>
            </destination>
        </rule>
        <rule>
            <type>pass</type>
            <interface>wan</interface>
            <ipprotocol>inet</ipprotocol>
            <statetype>keep state</statetype>
            <descr>Allow SSH access</descr>
            <protocol>tcp</protocol>
            <source>
                <any>1</any>
            </source>
            <destination>
                <any>1</any>
                <port>22</port>
            </destination>
        </rule>
        <rule>
            <type>pass</type>
            <interface>lan</interface>
            <ipprotocol>inet</ipprotocol>
            <statetype>keep state</statetype>
            <descr>Allow LAN to WAN</descr>
            <source>
                <any>1</any>
            </source>
            <destination>
                <network>wan</network>
            </destination>
        </rule>
    </filter>
</opnsense>
