#!ipxe

# iPXE configuration for {{ inventory_hostname }}
# MAC: {{ ansible_default_ipv4.macaddress | default(pxe_mac_address) }}

set base-url {{ pxe_base_url }}
set preseed-url {{ pxe_preseed_url }}/{{ inventory_hostname }}.cfg

kernel ${base-url}/debian/{{ preseed_suite }}/vmlinuz \
    auto=true \
    priority=critical \
    interface={{ preseed_network_interface }} \
    hostname={{ preseed_hostname }} \
    domain={{ preseed_domain }} \
    url=${preseed-url} \
    netcfg/get_ipaddress={{ preseed_ip_address }} \
    netcfg/get_netmask={{ preseed_netmask }} \
    netcfg/get_gateway={{ preseed_gateway }} \
    netcfg/get_nameservers={{ preseed_dns_servers }} \
    netcfg/disable_autoconfig=true

initrd ${base-url}/debian/{{ preseed_suite }}/initrd.gz

boot
