- name: Remove all files from /etc/network/interfaces/
  ansible.builtin.file:
    path: "/etc/network/interfaces/"
    state: absent

- name: Recreate the /etc/network/interfaces/ directory
  ansible.builtin.file:
    path: "/etc/network/interfaces/"
    state: directory
    mode: "0755"

- name: Ensure /etc/network/interfaces exists and is minimal
  ansible.builtin.copy:
    dest: "/etc/network/interfaces"
    content: |
      # This file will be managed by Ansible (lae.proxmox)
      # Placeholder until lae.proxmox role applies full config.
      auto lo
      iface lo inet loopback
    mode: "0644"

- name: Install bridge-utils
  ansible.builtin.apt:
    name: bridge-utils

- name: Configure /etc/network/interfaces
  ansible.builtin.template:
    src: "{{ interfaces_template }}"
    dest: /etc/network/interfaces
    mode: "0644"
  register: _configure_interfaces

- name: Check if vmbr0 exists
  ansible.builtin.command: "ip link show vmbr0"
  register: vmbr0_check
  failed_when: false
  changed_when: false

- name: Create bridge if it doesn't exist
  ansible.builtin.command: "ip link add name vmbr0 type bridge"
  when: vmbr0_check.rc != 0

- name: Ensure bridge is up
  ansible.builtin.command: "ip link set dev vmbr0 up"
  when: vmbr0_check.rc != 0

- name: Restart networking service
  ansible.builtin.systemd:
    name: networking
    state: restarted

- name: Ensure short hostname is resolvable in /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^{{ pve_ip }}\s+'
    line: "{{ pve_ip }} {{ inventory_hostname }} {{ pve_hostname }}"
    state: present
  # when: pve_cluster_enabled | bool

- name: Add all cluster node short hostnames to /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^{{ hostvars[item].pve_ip }}\s+'
    line: "{{ hostvars[item].pve_ip }} {{ item }} {{ hostvars[item].pve_hostname }}"
    state: present
  loop: "{{ groups[pve_group] }}"
  when:
    #   - pve_cluster_enabled | bool
    - item != inventory_hostname
