# {{ ansible_managed }}
auto lo
iface lo inet loopback

# Physical interface
iface enp2s0f1 inet manual

# VM Bridge
auto vmbr0
iface vmbr0 inet static
    address {{ ansible_default_ipv4.address }}
    netmask 255.255.255.0
    gateway 192.168.2.1
    bridge_ports enp2s0f1
    bridge_stp off
    bridge_fd 0

# auto enp2s0f0
# iface enp2s0f0 inet static
#    address 10.10.10.{{ ansible_host.split('.')[-1] }}
#    netmask 255.255.255.0