#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.flopo.retropetro.net

users:
  - name: pihole
    gecos: Pi-hole Admin
    primary_group: users
    groups: [sudo, adm]
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    lock_passwd: false
    ssh_authorized_keys:
%{~ for key in ssh_keys }
      - ${key}
%{~ endfor }

package_update: true
package_upgrade: true

packages:
  - qemu-guest-agent
  - curl
  - vim
  - net-tools

runcmd:
  - timedatectl set-timezone America/New_York
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent

final_message: "Pi-hole VM ready for Ansible configuration"
