#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.flopo.retropetro.net

users:
  - name: pxeadmin
    gecos: PXE Admin
    primary_group: users
    groups: [sudo, adm]
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    lock_passwd: false
    ssh_authorized_keys:
%{~ for key in ssh_keys }
      - ${key}
%{~ endfor }

package_update: true
package_upgrade: true

packages:
  - qemu-guest-agent
  - curl
  - vim
  - net-tools

runcmd:
  - timedatectl set-timezone America/New_York
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent
  - mkdir -p /srv/pxe
  - mkdir -p /srv/traefik
  - chown -R pxeadmin:pxeadmin /srv/pxe /srv/traefik

final_message: "PXE VM ready for Ansible configuration"
